
{% include 'header.html' %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/static/assets/img/blogheader1-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Code & Crochet</h1>
                            <span class="subheading">A collection of my random musings on coding and crocheting.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                   {% for blog_post in posts|reverse: %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="http://127.0.0.1:5000/post/{{ blog_post['id'] }}">
                            <h2 class="post-title">{{ blog_post["title"] }}</h2>
                            <h3 class="post-subtitle">{{ blog_post["subtitle"] }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{ blog_post["author"] }}, with ♥️</a>
                            on {{ blog_post["date"] }}
                        </p>
                    </div>
                {% endfor %}

                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#">Older Posts →</a></div>
                <p>Photo by <a href="https://unsplash.com/@edznorton?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Edz Norton</a> on <a href="https://unsplash.com/photos/silver-and-gold-rings-on-brown-wooden-table-9rStyyFGKQA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></p>

                </div>
            </div>
        </div>


{% include 'footer.html' %}


